body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../ASSEST/IMAGE/pexels-eberhardgross-1428277.jpg");
    background-size: cover; /* Đảm bảo hình ảnh nền phủ kín toàn bộ phần tử */
    background-position: center; /* Canh giữa hình ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(151, 161, 147, 0.4);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    text-align: center;
}

.login-container img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
}

label {
    color: #dddddd;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-field {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field i {
    position: absolute;
    left: 10px;
    color: #888888;
}

.input-field input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    margin-top: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.input-field input:focus {
    border-color: #007bff;
}

.link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.link a {
    color: #a5afd3;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 130px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
